
  For the Backend (Flask):

   * SUPABASE_URL: The URL for your Supabase project.
   * SUPABASE_SERVICE_KEY: Your Supabase service role key (found in your Supabase project's API settings).
   * SECRET_KEY: A long, random string used to secure sessions. You can generate one using python -c 'import os; print(os.urandom(24).hex())'.
   * SUPABASE_JWT_SECRET: The JWT Secret from your Supabase project's JWT settings (under Auth -> Settings).

  For the Frontend (Vite/React):

   * VITE_SUPABASE_URL: The same as SUPABASE_URL. The VITE_ prefix makes it accessible to the frontend code.
   * VITE_SUPABASE_ANON_KEY: Your Supabase anonymous key (also found in your Supabase project's API settings).

    For Google Sheets and Service account json (google sheets api):
    
    * GOOGLE_SERVICE_ACCOUNT_JSON: the path to service account json file 
    * VENDOR_DATA_URL: google sheet link for vendor data( step 7)
    * VQC_DATA_URL: google sheet link for vqc data (step 7.1)
    * FT_DATA_URL: google sheet link for ft data (step 8)
    